<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaZBJTHKdzhMwfOIAHQT0x-bwPT3wit_I</string>
	<key>GCM_SENDER_ID</key>
	<string>400649966615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>lost-found-1771621310</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-found-1771621310.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400649966615:ios:c830300a1311863a6e3852</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400649966615-gk79sn6p96r4fre6ssqrs5nt1cnp7ov3</string>
</dict>
</plist>